*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw !important;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
}

.imagen1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.isotipo{
  position: absolute;
  top: 15rem;
  left: 8rem;
  color:cadetblue ;
  text-shadow: #333 0.1em 0.1em 0.2em;
}
.tituloCarrousel{
  text-align: center;
  color:cadetblue ;
}
a{
  text-decoration: none !important;
  color: #fff;
}
.BotonCta{
  position: absolute;
  top: 19rem;
  left: 35rem !important;
  
}
.btnCta{
  font-size: 25px !important;
  color: aliceblue !important;
  text-decoration: none !important;
 background-color:cadetblue !important ;
 box-shadow: #333 0.1em 0.1em 0.2em !important;
 text-shadow: #333 0.1em 0.1em 0.2em !important;
}
