*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#app { height: 100% }
html,
body {
  width: 100vw !important; 
  height: 100% !important;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  width: 95vw !important;
  height: 60vh !important;
  margin: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

/*   Center slide text verticallyX */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 95% !important;
  height: 100% !important;
  object-fit: cover;
}
.nombreCiudad{
  position: absolute;
  top: 20px;
  color: aliceblue !important;
} 
