*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    width: 100% !important;
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;

    
   
}
main{
    width: 100%;
    height: 100%;
} */


.footerNav{

    display: flex;    
    align-items:center;
    justify-content: space-around;    
    width: 100%;
    height: 250px;
    background-color: #e7958e;    
    padding-left: 2rem;
    padding-right: 2rem;    


}
.navFooter{
    margin-left: 2rem;
    font-size: 20px;
   
}
.direcciones{

    font-size: 20px;
    color:aliceblue
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Facebook{
    width: 6%;
    margin: 5px;
  }



 @media(max-width:768px){
    .footerNav{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        padding: 1rem;
    }}