*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100% !important;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
  min-width: 972px !important
}
.cont-cities{
  width: 98vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pagCities{
 
 text-align: center;
}

.tituloCarrousel{
  text-align: center;
  color:#5D6D7E ;
  font-size: 30px;
  font-family:roboto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}
a{
  text-decoration: none !important;
  color: #fff;
}
.card{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.divSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  width: 300px !important;
  height: 150px;
  margin-bottom: 3% !important;
}
.h1Search{
  color: #5D6D7E;
}
.imgCard{
  width: 350px;
  height: 300px;
  background-size: cover;

}

.contCard:hover{
 transform: translateY(-15px);
 box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.botonCard{
  text-decoration: none !important;
}